<h1>Yo! This is chitter.</h1>

Latest Peeps:

<ul>
	<% @peeps.each do |peep| %>
	<li><%= peep.content %></li>
	<% end %>
</ul>


<div id="new-peep">
	<form method="post" action="/peeps">
		Post your status: <input type="text" name="content">
		<input type="submit" value="Post">
	</form>
</div>

